
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Old Standard TT', serif;
    font-weight: 400;
    width:100%;

}
#firstsection{
  border: solid 2px black;
}
#thirdsection{
  border: solid 2px black;
  border-left: none;
}
.foto-footer {
  width: 50%;
  padding-top: -50%;

}
.foto-foter1{
  width: 40%;

}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  border: 0px;


}
.grid-item1{
  margin-top: 0;
}

section em{
  font-family: "Arial", serif;
}
#main{
  position: absolute;
  right: 30px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

#main li{

  list-style: none;
  display: inline-block;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: #E2494B;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgb(90, 3, 3);
  border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.box{

  border: 1px solid #E2494B;
  background-color: #E2494B;
    border-radius: 10px;
    margin: -4px;
    padding: 10px 2px;
    margin-top: 0%;
}
.box a{
    color: white;
    padding-right: 40px;
    padding: 13px;
    margin: 5px -4px;
    text-decoration: none;

}
.box a:hover{
    background-color: rgb(90, 3, 3);
    color: wheat;
    border-radius: 10px;
}
.s1{ 
font-family: "Fantasy", Times;
color:#F31B2F;
font-size: 160%;
border-style: double;
border-color: black;
margin: 20px;
margin-top: 25px;

}
.s2{
  border-style: double;
  border-color: black;
  margin: 20px;
}
.s3{
  border-style: double;
  border-color: black;
  padding-bottom: 17.5px;
  margin: 20px;

}

body{
background-color: #CBC8BE;
}


header h2{
    padding-top: 15px;
    padding-left:3em;
}

/*border per vijen nfillim para rreth nesh*/
div {
    border-top: 1px;
    text-align: center;
    margin-top: 100px;
    border: 0 solid darkgray;
    position: relative;
    width: 100%;
}

button {
  color: white;
  padding: 4px 20px;
  border-radius: 10px;
  border: 1px solid #E2494B;
  background-color: #E2494B;
  font-family: 'Old Standard TT', serif;
}

/*per me dal ne ofrojm teksi ne mes*/
.w3-content {
  border: 0;
  margin-top: -50px;
}
mark{
  background-color: #C4BDA6;
  color: black;
}

.g {
  border-style: groove;
 margin: 0px 250px 20px 250px;

}
.g1{
  text-align: center;
  border-style: groove;
 margin: 0px 25px 0px 25px;
}
.g2{
    border-style: groove;
 margin: 0px 75px 20px 100px;
}
#main{
  margin-top: 50px;
}
.content{
  border: 0;
  background: #E2E2E2;
  float:left;
  width:100%;
}

.content table{
  padding: 30px 50px;
  font-size: 20px;
  text-align: left;
  font-family:corbel;
}

.content #posts ul li{
  display: block;
  padding: 20px 0px 0px 0px;
  width: 610px;
  margin: 0px;
}

.content #posts ul li article figure{
  margin: 0px 0px 25px 0px;
}

.content #posts ul li article figure img{
  float:left;
  margin:0;
  padding:4px;
  border:1px
  solid #8F8F8F;
}

.content #posts ul li article figure figcaption{
  color: #A0A0A0;
  margin:5px 25px 5px 25px;
  display: block;
  float: right;
  width: 430px;
  font-size: 20px;
  text-align: left;
  font-family: calibri;
}

.content #posts ul li article figure figcaption h4{
  color: #E2494B;
  margin: 0px 0px 5px 0px;
}
.content #companydetails{
  color: #A0A0A0;
  width: 300px;
  margin:5px 25px 5px 25px;
  font-size: 20px;
  text-align: left;
  font-family: calibri;
}
#emailtext {
  color: #E2494B;
}
.content #contactform #contactformclientfirst input{
  margin: 15px 0px 5px 0px;
  font-family: 'Old Standard TT', serif;
  border-radius: 4px;
  border: none;
  width: 300px;
  padding: 15px;
}
.content #contactform #contactformclientsecond input{
  margin: 5px 0px;
  font-family: 'Old Standard TT', serif;
  border-radius: 4px;
  border: none;
  width: 300px;
  padding: 15px;
}
.content #contactform #subject{
  margin: 5px 0px;
  font-family: 'Old Standard TT', serif;
  border-radius: 4px;
  border: none;
  width: 300px;
  padding: 15px;
}
.content #contactform #buttoncontactform input{
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #E2494B;
  background-color: #E2494B;
  margin: 5px 0px;
  font-family: 'Old Standard TT', serif;
  font-size: 20px;
}
.content #contactform #buttoncontactform input:hover{
  background-color: rgb(90, 3, 3);
  color: wheat;
  border-radius: 10px;
}
.footer{
  padding: 5px 0px;
  background-color: #E2E2E2;
}
.footer p{
  margin:12px 2px;
  padding:0;
  font-size: 12px;
  color: #A0A0A0;
  font-size: 20px;
}
.footer a{
  color: #A0A0A0;
  text-decoration: none;
}
.footer #fl_left{
  float: left;
}
.footer #fl_right{
  float: right;
}
.fig{
  padding-top: 30%;
}
/*heder*/
#kursetmain figure img{
  float:left;
  margin: 25px 0px 25px 175px;
}

#kursetmain figure figcaption{
  margin-top: 25px;
  display: block;
  float: right;
  width: 300px;
  height: 280px;
  padding: 20px;
  color: white;
  background-color: #E2494B;
}

#kursetmain figure h2{
  padding-bottom: 8px;
  border-bottom: 1px solid #E2494B;
}
