
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Old Standard TT', serif;
    font-weight: 400;
    width:100%;
    
}
section em{
  font-family: "Copperplate Gothic Light", serif;
}
#main{
    position: absolute;
    right: 30px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

#main li{

    list-style: none;
    display: inline-block;
}
.box{

  border: 1px solid #E2494B;
  background-color: #E2494B;
    border-radius: 10px;
    margin: -4px;
    padding: 10px 2px;
    margin-top: 0%;
}
.box a{
    color: white;
    padding-right: 40px;
    padding: 13px;
    margin: 5px -4px;
    text-decoration: none;

}
.box a:hover{
    background-color: rgb(90, 3, 3);
    color: wheat;
    border-radius: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: #E2494B;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgb(90, 3, 3);
  border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.foto-footer {
  width: 40%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
}

.grid-item {
  border: 0px;
}
/*per ne ofrojme me dal ne mes*/
#grid-item{
  border: 0px;
  margin-top: 20%;
}



div {
    border-top: 1px;
    text-align: center;
    margin-top: 100px;
    border: 1px solid darkgray;
    position: relative;
    width: 100%;
}
header p{
    padding-left: 30px;
}
legend {
  display: table;
     min-width: 0px;
     max-width: 70%;
     position: relative;
     margin: auto;
     padding: 5px 20px;
     color: #eee8aa;
     font-size: 20px;
}
button {
  color: white;
  padding: 4px 20px;
  border-radius: 10px;
  border: 1px solid #E2494B;
  background-color: #E2494B;
  font-family: 'Old Standard TT', serif;
}

.w3-content {
  border: 0;
  margin-top: -35px;
}