#div1 {
  width: 90%;
  border-style: solid;
  border-width: 5px;
}
.a1{
	text-align: center;
}

#gradi
		{
			height: 300px;
			background:-webkit-linear-gradient(left,red,orange,yellow);
		}
#gradi1
{
	height: 300px;
	background:radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
}
.img{

  display: block;
  margin-left: auto;
  margin-right: auto;
}
}