
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Old Standard TT', serif;
    font-weight: 400;
}
section em{
  font-family: "Copperplate Gothic Light", serif;
}
#main{
    position: absolute;
    right: 30px;
    padding: 10px;
    border-radius: 10px;
}

#main li{

    list-style: none;
    display: inline-block;
}
.box{

  border: 1px solid #E2494B;
  background-color: #E2494B;
    border-radius: 10px;
    margin: -4px;
    padding: 10px 2px;
    margin-top: 0%;
}
.box a{
    color: white;
    padding-right: 40px;
    padding: 13px;
    margin: 5px -4px;
    text-decoration: none;

}
.box a:hover{
    background-color: rgb(90, 3, 3);
    color: wheat;
    border-radius: 10px;
}
header h2{
    padding-top: 15px;
    padding-left:3em;
}

div {
    border-top: 1px;
    text-align: center;
    margin-top: 100px;
    border: 1px solid darkgray;
    position: relative;
    width: 100%;
}
header p{
    padding-left: 30px;
}
legend {
  display: table;
     min-width: 0px;
     max-width: 70%;
     position: relative;
     margin: auto;
     padding: 5px 20px;
     color: #eee8aa;
     font-size: 20px;
}
fieldset{
  border-bottom: 1px;
}
button {
  color: white;
  padding: 4px 20px;
  border-radius: 10px;
  border: 1px solid #E2494B;
  background-color: #E2494B;
  font-family: 'Old Standard TT', serif;
}

.one_third, .two_third, .three_third{
  display:block;
  float:left;
  margin:20px 30px 20px 45px;
}

.one_third{
  width:270px;
}

.two_third{
  width:600px;
}

.three_third{
  width: 930px;
  float:none;
  margin-right:0;
  clear:both;
}

.lastbox{
  margin-right: 0;
}
figure {
  display: inline;
  float: left;
}
.more a{
  color: red;
}

#latest article figure ul{
  margin:0;
  padding:0;
  list-style:none;
}

#latest article figure ul li img{
  padding:4px;
  border:1px
  solid #D6D6D6;
}
.one_fifth, .two_fifth, .three_fifth, .four_fifth, .five_fifth{
  display:block;
  float:left;
  margin:10px 10px 10px 20px;
}
.one_fifth{
  width:180px;
}
.two_fifth{
  width: 370px;
}

.three_fifth{
  width: 580px;
}
.four_fifth{
  width: 790px;
}
.five_fifth{
  width: 1060px;
  float: none;
  margin-right: 0;
  clear: both;
}
