body{
    font-size: 34px;
}

#ylli figure{
    width:65%;
    display: block;
}
#rigoni figure{
    display: block; 
    width:65%;
    padding: 20px;
    float: right;
    margin-bottom: 200px;
    margin-left:100%;
}
section nav ul{
    width: auto;
    font-size: 20px;
}
#rinesa figure{
    width:65%;
    display: block;
    padding: 20px;
    margin-bottom: 200px;
}

#betim figure{
    margin-left:100%;
    width:65%;
    display: block;
    float: right;
    margin-bottom: 200px;
}

#jetlir figure{
    margin-top: 350px;
    width:65%;
    display: block;
    padding: 20px;
}
