#ylli figure{
    width:65%;
    display: block;
    margin-right: 20%;
    border: 1px solid black;
}
#rigoni figure{
    margin-top: 10%;
    margin-bottom: 10%;
    width:65%;
    padding: 20px;
    border: 1px solid black;
    float: right;
}
#rigoni{
    
    display:block;

}

#rinesa figure{
    margin-top: 10%;
    margin-bottom: 10%;
    width:65%;
    display: block;
    border: 1px solid black;
    padding: 20px;
}

#betim figure{
    margin-top: 10%;
    margin-bottom: 10%;
    width:65%;
    border: 1px solid black;
    display: block;
    float: right;
    padding: 20px;
}

#jetlir figure{
    margin-top: 10%;
    margin-bottom: 10%;
    width:65%;
    display: block;
    padding: 20px;
    border: 1px solid black;
}
