#ylli figure{
    width:45%;
    display: block;
    margin-bottom: 10%;
    margin-right: 20%;
    border: 1px solid black;
}
#rigoni figure{
    margin-top: 10%;
    margin-bottom: 10%;
    width:45%;
    display:block;
    align-content: end;
    padding: 20px;
    border: 1px solid black;
}

#rinesa figure{
    margin-top: 10%;
    margin-bottom: 10%;
    width:45%;
    display: block;
    border: 1px solid black;
    padding: 20px;
}

#betim figure{
    margin-top: 10%;
    margin-bottom: 10%;
    width:45%;
    border: 1px solid black;
    display: block;
    align-content: end;
    padding: 20px;
}

#jetlir figure{
    margin-top: 10%;
    margin-bottom: 10%;
    width:45%;
    display: block;
    padding: 20px;
    border: 1px solid black;
}
